.box-login .gauche {
    overflow: auto ;
    padding: 40px;
    padding-top: 0px;
    scrollbar-width: none;
    width: 100%;
  }
  
  .box-login {
    height: 80%;
    width: 60%;
    display: flex;
    margin-right: 5px;
    align-items: stretch;
    justify-content: space-between;
  }

  .box-login h1{
    margin-left: 40px;
    font-family: 'Changa', sans-serif;
  }

  .box-login .gauche .LoginButton {
    background-color: white;
    font-size: 16px;
    width: 180px;
    padding: 12px 35px;
    border-radius: 40px;
    margin-right: 25px;
    display: inline-block;
    border: 3px solid #be6600;
    outline: 0;
    transition-duration: 0.4s;
    color : grey;
    margin-bottom: 20px;
    margin: 0;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    transition: ease-out all 0.2s;
  }

  .box-login a{
    color: blue;
  }

  .box-login .gauche .LoginButton:hover{
    background-image: linear-gradient(135deg, #be6600 10%, #5e0000 100%);
    border-image: linear-gradient(135deg, #be6600 10%, #5e0000 100%) 1;
    color: white;
    width: 80%;
  }

  .box-login .droite img {
    width: 100%;
    color: #FFFFFF;
    overflow: hidden;
    float:left;
  }
  
  .box-login .droite .overlay {
    padding: 30px;
    width: 0%;
    height: 0%;
    background: #2e2e2e34;
    overflow: auto;
  }
  
  .LoginContent input{
    width: 45%;
    padding: 10px;
    margin: 18px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #be6600;
    transition: all 0.5s;
  }

  .LoginContent textarea{
    resize: none;
    width: 100%;
    height: 120px;
    overflow-y: hidden;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }

  .login-content-preview-image{
    height: 80px;
    width: 80px;
  }

  .login-content-images{
    display: flex;
  }

  .login-content-image{
    display: grid;
    width: 500px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
  }

  .login-right{
    width: 55%;
    background:url("../Images/Logos/LoginGif.gif");
    background-repeat:no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 45%;
    padding-top: 100%;
  }

  .login-content-image img{
    margin: auto;
  }

  .user-background-image{
    width: 100%;
    background-color: red;
  }

  .login-master{
    display: flex;
  }

  .user-profile-background button{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('Images/Logos/EventMap.png');
  }
  