

html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.615);
}

#map {
    float: right;
    background-color: black;
    margin-left: auto; 
    margin-right: 20px;
    margin-top: 20px;
    height: 600px;
    width: 50%;
    color: white;
    min-height: 400px;
    min-width: 400px;
    max-height: 400px;
    max-width: 400px;
    border: 2px solid white;
    
    
}

.mapTitle{
    text-align: center;
    padding: 200px;
    font-family: 'Lexend Deca', sans-serif; 
}

.EventButtonCard{
    margin-bottom: 30px;
    height: 100px;
    width: 300px;
    margin-left: 15px;
    color: white;
    border-color: rgb(0, 0, 0);
    background-image: url('https://siena.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2021/04/02/node_770514/2557703/public/2021/04/02/B9726620079Z.1_20210402145830_000%2BGBIHSQ6BJ.2-0.jpg?itok=XllJqWZ21617371506');
}
.EventButtonCard:hover{
    border-color: white;
}


.EventButtonCardDate{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
}
.EventButtons{
    margin-top: 20px;
    float: left;
    margin-bottom: auto;
    overflow-y: auto;
    overflow-x:hidden;
    max-width: 400px;
    min-width: 400px;
    max-height:600px;
}

#error {
    background-color: rgba(255, 219, 219, 0.099);

}

.ErrorContent{
    position: relative;
    margin: auto;
    width: 60%;
}

.EventButtonCardEventType{
    color:cornsilk;
}

.UserAvatar{
    width: 64px;
    height: 64px;
    vertical-align: middle;
    border-radius: 50%;
}

.ButtonUserAvatar{
    width: 64px;
    height: 64px;
    vertical-align: middle;
    background-color: white;
    border-radius: 50%;
    
    
}
.ContentButtonUserAvatar{
    display: inline-block;
    position: relative;
    width: 64px;
    border-radius: 50%;
}


.ContentButtonUserAvatar:hover img{
    opacity: 1;
    
}

.ContentButtonUserAvatar:hover input{
    background: rgba(0,0,0,0.3);
    opacity: 0.3;
    
}

.ImageUserAvatar{
    width: 64px;
    height: 64px;
    vertical-align: middle;
    border-radius: 50%;
    
}

.ButtonUserAvatarHover{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    position: absolute;
    pointer-events: none;
    right: 16px;
    top:13px;
    opacity: 0;
}


.NavBarContent{
    background-color: rgb(18, 18, 39);
    width: 10%;
    right:300px;
}

.NavBar a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    
}

.NavBar a:hover{
    background-color: red;
    transition: 0.5s;
}

.NavBar a:hover .img{
    transition: 0.5s;
    width: 40px;
    height: 40px;
}
.NavBar .img{
    width: 32px;
    height: 32px;
}

#MasterContent{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.NavBarLogo{
    width: 150px;
    height: 150px;
    padding: 15px;
}

.NavBarUserContent{
    position: fixed;
    bottom: 10px;
    width: 10%;
    
}


.RightContent{
    width: 100%;
}


.PopUpLoginContent{
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: 1s ease-out 0s 1 PopUpLoginAnim;
    z-index: 2;
    background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(236,236,236,1) 64%, rgba(255,255,255,1) 100%);

}
@keyframes PopUpLoginAnim {
    0%{
        transform: translatey(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes NavBarAnim{
    0%{
        transform: translatex(-100%);
    }
    100% {
        transform: translatex(0%);
    }
}

  
  .EventCardContent {
    position: relative;
    z-index: 1;
    display: block;
    background: white;
    min-width: 270px;
    height: 470px;
    margin-top: 50px;
  }
.EventCardThumbnail {
    background: black;
    height: 400px;
    overflow: hidden;
}
.EventCardDate {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background: gray;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    border-radius:100%;
    color: white;
    font-weight: 700;
    text-align: center;
}
.EventCardDay {
    font-size: 18px;
}
.EventCardMonth {
    font-size: 12px;
    text-transform: uppercase;
}
      
.EventCardImage {
    display: block;
    width: 100%;
    height: 100%;
}
    
.EventCardInfos {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    padding: 30px;
    background: rgb(18,18,39);
    background: linear-gradient(0deg, rgba(18,18,39,1) 44%, rgba(255,255,255,0) 100%);
}
.EventCardCategory {
    position: absolute;
    top: -34px;
    right: 0;
    background: gray;
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.EventCardName {
margin: 0;
padding: 0 0 10px;
color: darkgray;
font-size: 26px;
font-weight: 700;
}
.EventCardLocation {
    margin: 0;
    padding: 0 0 20px;
    color: gray;
    font-size: 20px;
    font-weight: 400;
}
.EventCardContent .EventCardDescription {
    overflow: hidden;
    max-height: 0 ;
    color: gray;
    font-size: 14px;
    line-height: 1.8em;
    opacity: 0;
    transition: all .5s;
}
.EventCardData {
    margin: 30px 0 0;
    color: lightgray;
}
.EventCardTags {
    margin: 0 16px 0 0;
}
.EventCardParticipants {
    color: lightgray;
    text-decoration: none;
}

.EventCardContent:hover .EventCardDescription{
    overflow:visible;
    max-height: 500px;
    opacity: 1 ; 
    

}
.EventCardContent:hover .EventCardInfos{}

.EventCard{
    max-width: 340px;
    margin: 0 auto;
}

  


