@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body{
    background-color: greenyellow;
}

.InvitationEmailButton{
    background-color: rgb(97, 97, 255);
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 60px;
    font-size: 40px;
    transition: all 0.5s;
    font-family: 'Oswald', sans-serif;
}
.InvitationEmailButton:hover {
    color: white;
    background-color: rgb(226, 43, 43);
    width: 300px;
}