html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.615);
}

#map {
    float: right;
    background-color: black;
    margin-left: auto; 
    margin-right: 20px;
    margin-top: 20px;
    height: 600px;
    width: 50%;
    color: white;
    min-height: 400px;
    min-width: 400px;
    max-height: 400px;
    max-width: 400px;
    border: 2px solid white;
    
    
}

.mapTitle{
    text-align: center;
    padding: 200px;
    font-family: 'Lexend Deca', sans-serif; 
}

.EventButtonCard{
    margin-bottom: 30px;
    height: 100px;
    width: 300px;
    margin-left: 15px;
    color: white;
    border-color: rgb(0, 0, 0);
    background-image: url('https://siena.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2021/04/02/node_770514/2557703/public/2021/04/02/B9726620079Z.1_20210402145830_000%2BGBIHSQ6BJ.2-0.jpg?itok=XllJqWZ21617371506');
}
.EventButtonCard:hover{
    border-color: white;
}


.EventButtonCardDate{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
}
.EventButtons{
    margin-top: 20px;
    float: left;
    margin-bottom: auto;
    overflow-y: auto;
    overflow-x:hidden;
    max-width: 400px;
    min-width: 400px;
    max-height:600px;
}

#error {
    background-color: rgba(255, 219, 219, 0.099);

}

.ErrorContent{
    position: relative;
    margin: auto;
    width: 60%;
}

.EventButtonCardEventType{
    color:cornsilk;
}

.UserAvatar{
    width: 64;
    height: 64;
    vertical-align: middle;
    border-radius: 50%;
}

.ButtonUserAvatar{
    width: 64;
    height: 64;
    vertical-align: middle;
    background-color: white;
    border-radius: 50%;
    
}
.ContentButtonUserAvatar{
    display: inline-block;
    position: relative;
    width: 64;
    border-radius: 50%;
}


.ContentButtonUserAvatar:hover img{
    opacity: 1;
    
}

.ContentButtonUserAvatar:hover input{
    background: rgba(0,0,0,0.3);
    opacity: 0.3;
    
}

.ImageUserAvatar{
    width: 64;
    height: 64;
    vertical-align: middle;
    border-radius: 50%;
    
}

.ButtonUserAvatarHover{
    width: 32;
    height: 32;
    vertical-align: middle;
    position: absolute;
    pointer-events: none;
    right: 16px;
    top:13px;
    opacity: 0;
}


.NavBarContent{
    background-color: #121227;
    width: 10%;
    right:300px;
}

.NavBar a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    
}

.NavBar a:hover{
    background-color: red;
    transition: 0.5s;
}

.NavBar a:hover img{
    transition: 0.5s;
    width: 40;
    height: 40;
}
.NavBar img{
    width: 32;
    height: 32;
}

#MasterContent{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.NavBarLogo{
    color:#fff;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 15px;
    background-color: black;
}

.NavBarUserContent{
    position: fixed;
    bottom: 10px;
    width: 10%;
    
}

.NavBarContent:hover {
    animation: 0.3s ease-out 0s 1 NavBarAnim;
}

.RightContent{
    width: 100%;
}


.PopUpLoginContent{
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 0;
    height: 7%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: 1s ease-out 0s 1 PopUpLoginAnim;
    z-index: 2;
    background: rgb(210,210,210);
    background: linear-gradient(0deg, rgba(210,210,210,1) 0%, rgba(236,236,236,1) 64%, rgba(255,255,255,1) 100%);

}
@keyframes PopUpLoginAnim {
    0%{
        transform: translatey(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes NavBarAnim{
    0%{
        transform: translatex(-100%);
    }
    100% {
        transform: translatex(0%);
    }
}

