.login{
  min-width: 60%;
  border-radius: 20px;
  z-index: 0;  
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
}


.box-login .gauche {
    overflow: auto ;
    padding: 40px;
    padding-top: 0px;
    scrollbar-width: none;
    width: 100%;
  }
  
  .box-login {
    width: 100%;
    display: flex;
    margin-right: 5px;
    align-items: stretch;
    justify-content: space-between;
    
  }

  .box-login h1{
    color: black;
    font-family: 'Changa', sans-serif;
  }

  .LoginButton {
    padding: 15px 180px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #05060f1d;
    position: relative;
    margin-top: 20px;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
  }
  
  .LoginButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #2e2e2e;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
  }

  .LoginButton:hover{
    color: white;
  }

  .LoginButton:hover::before{
    width: 100%;
  }


  .gauche p{
    font-size: 18px;
    text-align: center;
  }

  .box-login a{
    color: #3ea6ff
  }

  .box-login p{
    color: white;
  }

  .box-login .gauche .LoginButton:hover{
    
  }

  .LoginContent input:hover, .LoginContent input:focus, .input-group:hover .LoginContent input {
    outline: none;
    border-color: #ffffff;
    color:white;
  }
  
  .input-group:hover .user-edit-input-label, .user-edit-input:focus {
    color: #05060fc2;
  }

  .box-login .droite img {
    width: 100%;
    color: #FFFFFF;
    overflow: hidden;
    float:left;
  }
  
  .box-login .droite .overlay {
    padding: 30px;
    width: 0%;
    height: 0%;
    background: #2e2e2e34;
    overflow: auto;
  }
  
  .LoginContent input{
    width: 40%;
    height: 44px;
    background-color: #05060f1d;
    border-radius: .5rem;
    padding: 0 1rem;
    margin-bottom: 20px;
    margin-right: 10px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  .LoginContent textarea{
    resize: none;
    width: 100%;
    height: 150px;
    background-color: #05060f1d;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    padding: 0 1rem;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }

  .login-content-preview-image{
    height: 80px;
    width: 80px;
  }

  .login-content-images{
    display: flex;
  }

  .login-content-image{
    display: grid;
    width: 500px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
  }


  .login-right{
    width: 55%;
    background:url("https://thumbs.gfycat.com/ImpassionedIcyBull-max-1mb.gif");
    background-repeat:no-repeat;
  }

  .login-content-image img{
    margin: auto;
  }

  .user-background-image{
    width: 100%;
    background-color: red;
  }

  .login-master{
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center; /* centre verticalement */
    padding: 20px; /* ajouter un padding de 20px */
    box-sizing: border-box; /* inclure le padding dans la taille du div */
    height: 80vh;
  }

  .user-profile-background button{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://www.endehors.org/wp-content/uploads/2020/01/profil-photo.jpg");
  }


  .card {
    margin-top:110px;
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #252525;
    border: solid #be6600;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 1px #ffbb763f;
   }
   
   .card .img {
    height: 100px;
    margin-top: 1.6em;
    aspect-ratio: 1;
    border-radius: 30%;
    background-image: url("https://www.endehors.org/wp-content/uploads/2020/01/profil-photo.jpg");
    background-size:cover;
    background-position: center;
    margin-bottom: 0.4em;
    border: solid #fff;
    
   }
   
   .card .info {
    text-align: center;
    margin-top: 0.4em;
    background: linear-gradient(120deg, rgb(255, 255, 255) 0%,rgb(255, 132, 0) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   
   .card .info > span {
    font-weight: bold;
    font-size: 1.2em;
   }
   
   .card a {
    margin-top: 1em;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 132, 0) 100%);
    padding: .5em 2em;
    border-radius: 0.7em;
   }
   
   .card a:active {
    box-shadow: inset 3px 3px 3px #0056ff,
                inset -3px -3px 3px #00c2ff;
   }
  
   p{
    text-align: justify;
    text-justify: inter-word;
    margin: 20px;
   }

