.main-user-not-connected-login{
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title{
  font-size: 30px;
}

.main-user-not-connected-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1000%;

    width: 100%;

}

.main-user-not-connected{
    background-image: url('/Images/Logos/BackgroundL.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 84%;
}


.recommendated-cards {
  margin: auto;
  width: 80%;
  text-align: center;
}



.recommendated-cards-content {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.recommendated-cards-content:focus {
  outline: 0;
}

.recommentation-card-first {
  border-radius: 19px;
  background-color: white;

}
.recommendation-card-content{
  height: 150px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: url('http://cdn.akamai.steamstatic.com/steamcommunity/public/images/clans/8328525/cce2fa59a0058b3b5c391224542473a926a79ad6.jpg');
}

.recommendation-card-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-image: url('http://cdn.akamai.steamstatic.com/steamcommunity/public/images/clans/8328525/cce2fa59a0058b3b5c391224542473a926a79ad6.jpg');
  filter: blur(5px); /* Modifier la valeur de flou en ajustant le nombre de pixels */
  z-index: -1;
}

.recommendation-card-background img{
  width: 100%;
  height: 100%;
}


.recommentation-card{
    margin: 0px 10px 0px 10px;
    width: 300px;
    min-width: 280px;
    position: relative;
    text-align: center;
    
}

.recommentation-card-second{
  background: white;
  border-radius: 19px;
  transform: scale(0.9);
  margin-right: -16px;
}

.recommentation-card-third{
  background: white;
  border-radius: 19px;
  transform: scale(0.8);
  margin-left: -33px;
}

.recommendation-card-background {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.recommendation-card-background{
    background-size: cover;
    background-position: center center;
}


.recommendation-card-location {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #EC9B3B;
}

.recommendation-card-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.recommendation-card-descrition {
  margin-bottom: 10px;
  padding-bottom: 40px;
  color: black;
  max-height: 50px;
}

.first{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.second{
  background: radial-gradient(ellipse farthest-corner at right bottom, #D4D4D4 0%, #C4C4C4 8%, #A9A9A9 30%, #8E8E8E 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #F2F2F2 8%, #D9D9D9 25%, #A6A6A6 62.5%, #A6A6A6 100%);

}

.third{
  background: radial-gradient(ellipse farthest-corner at right bottom, #CD7F32 0%, #B87333 8%, #A04B19 30%, #8B3A0D 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #F2E6D9 8%, #D9B486 25%, #A67C52 62.5%, #A67C52 100%);

}

.recommendation-card-info .one-third {
  border-right: 1px solid #BD7C2F;
}


.recommendation-card-info {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.recommendation-card-info .one-third {
  width: 33%;
  float: left;
  padding: 20px 0px;
}
.recommendation-card-info sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.recommendation-card-info .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.recommendation-card-info .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.recommendation-card-info .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


button {
  position: relative;
  padding: 12px 35px;
  background: #FEC195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #FEC195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all .3s ease-in-out;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s ease;
}

button:hover {
  background: transparent;
  color: #FEC195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF
}