body{
  background-color: rgb(15, 15, 15);
  overflow:inherit;
}

.box{
  background-image: url("https://images.unsplash.com/photo-1616696068617-2f85a2a19226?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw3NDMwMTIxOXx8ZW58MHx8fHw%3D&w=1000&q=80");
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  padding-top: 150px;
  top: 0;
  left: 0;
  z-index: 2;


}

.center{
  background-color: white;
  border-radius: 45px;
  margin: 20px 20px;
  height: 40vh;
  width: 5px;
}

.x{
  display: flex;
  margin-bottom: 50px;
}

.contenair{
  border: solid white;

  border-radius: 20px;
  margin: 0px 100px;
  padding: 20px;
  height: 100vh;
  transform: translateY(-150px);
}

.NewEvent{
  color: white;
  margin-left: 10px;
  font-size: 6vh;
  text-align: left;
}

.NewEventBackground{
  padding: 10px;
  width: 30VH;
  margin-top:20px;
  height: 40vh;
  font-weight: bold;
  background: #f0f0f0;
  overflow: hidden  ;
  border-radius: 10px;
  text-align: left;
  transition: all 0.5s;
  background-image: url("https://th.bing.com/th/id/R.1d2da235db8b3b5b1c45bae3fb36a3ba?rik=bk%2b9HYpGHIt3EA&pid=ImgRaw&r=0");
}


button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }

.EventBox {
  width:100vh;
  height: 40vh;
  border-radius: 26px;
  margin-top:20px;
  transition: all 0.3s;
  cursor: pointer;
  border: solid 3px white;
  backdrop-filter: blur(4px);
}

.decript{
margin-bottom: 50px; 
}
.card {
  position: relative;
  width: 250px;
  margin-top: 20Px;
  height: 420px;
  background: lightgrey;
  box-shadow: #d11bff42 0 15px 40px -5px;
  z-index: 1;

  overflow: hidden;
}

.card__content {
  background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
  z-index: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}


textarea{
  resize: none;
  width: 80%;
  height: 120px;
  overflow-y: hidden;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  outline: none;
}

.card .blob {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 200px;
  height: 200px;
}

.card .blob:nth-child(2) {
  left: -50px;
  top: -90px;
  background: #ff930f;
}

.card .blob:nth-child(3) {
  left: 110px;
  top: -20px;
  z-index: -1;
  background: #bf0fff;
}

.card .blob:nth-child(4) {
  left: -40px;
  top: 100px;
  background: #ff1b6b;
}

.card .blob:nth-child(5) {
  left: 100px;
  top: 180px;
  background: #0061ff;
}

.img {
  display: flex;
  margin: 30px auto 10px auto;
  width: 70px;
  height: 70px;
  background-image: url("https://www.endehors.org/wp-content/uploads/2020/01/profil-photo.jpg");
  background-size:cover;
  background-position: center;
  border-radius: 20px;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.rouleaux{
  display: flex;
  margin: 0 20px;
  height: 33vh;
  overflow-x: auto;
}

.window {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  color: #2e2d31;
  background-image: url("https://th.bing.com/th/id/R.a52bc61b6c61ebb18731b5c90a6b2497?rik=KBF5O7OL8m4YIg&riu=http%3a%2f%2fsejourlinguistiqueexpert.files.wordpress.com%2f2012%2f10%2fmeilleurs-parcs-dattractions.jpg&ehk=K0zjx9oWM8fxAzB30yTlHbvJYSaDBA9iamrspt1aXSc%3d&risl=&pid=ImgRaw&r=0");
  background-size:cover;
  background-position: center;
  overflow: hidden;
  border-radius: 20px;
}

.window_title {
  font-weight: bold;
}

.window_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit window */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.window_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.TitreProfile{
  margin-bottom:350px;
  font-weight: bold;
  filter: invert(1);
  font-size: 10vh;
}


.window_title {
  color: #131313;
  line-height: 15px;
}

.window_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.window_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.window:hover .window_content {
  transform: translateY(0);
}

.window:hover .window_description {
  opacity: 1;
  transition-delay: .25s;
}


.h1Event{
  filter: invert(1);
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}

.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f1d;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input2 {
  width: 450px;
  height: 44px;
  background-color: #05060f1d;
  border-radius: .5rem;
  padding: 0 1rem;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  text-align: left;
  margin-left: 50px;
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}

.input2:hover, .input2:focus, .input2-group:hover .input2 {
  outline: none;
  border-color: #05060f;
}

.input2-group:hover .label, .input2:focus {
  color: #05060fc2;
}

.button2 {
  
  padding: 15px 180px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #05060f1d;
  position: relative;
  margin-top: 20px;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .button2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #1ddd00;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .button2:hover {
  color: white;

 }
 
 .button2:hover::before {
  width: 100%;
 }

.GIGABOX{
  display: flex;
  border-radius: 20px;
  box-shadow: gray 50px;
  opacity: 1;
}
.orgaInput{
  display: flex;

}

.droitePopUp{
   
  height: 600px;
  background: linear-gradient(135deg, #ebadb6 0%, #aceae1 100%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 100px;
  margin-left:400px;
}
#profileEdit {
  margin-top: 200px;
  display: none;
  padding: 100%;
  position: absolute;
  top: 40%;
  background-color: #00000067;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  

}

.leftBack {
  width: 400px;
  height: 600px;
  backdrop-filter: blur(15px);
  position:absolute;
  background-blend-mode: overlay;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #7878788f;
 }

 .description{
  background-color: white;
  width: 350px;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  margin: auto;
  color: #000;
  height: 300px;
  border-radius: 20px;
 }

 .description2{
  background-color: white;
  width: 450px;
  margin: 10px;
  height: 200px;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  border-radius: 20px;
  
 }
